#mainTable {
    width: 200px;
    margin: auto;

}
#table{
    margin: auto;
}

td {
    text-align: center;
}

#updateBtn {
    font-size: 16px;
    border: none;
    margin-top: 5px;
    background-color: white;
}

.buttonControl{
    text-align: center;
}
.action{

    text-align: center;
    }
td{
    text-align: center;
}
#removeStudent{
    padding-right: 14px;
    padding-left: 14px;
    display: flex;
    flex-direction: row;
    color: #9b4dca;
    background-color: white;
}
#editBtn{
    padding-right: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
}
