#mainTable {
    width: 200px;
    margin: auto;
}

td {
    text-align: center;
}

#updateBtn {
    font-size: 16px;
    border: none;
    margin-top: 5px;
    background-color: white;
}

.buttonControl{
    text-align: center;
}
.action{
    display: flex;
    flex-direction: row;
}